<header class="header">
  <div class="hero is-primary">
    <div class="hero-head">
      <nav class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item">
              <img src="" alt="Logo">
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a class="nav-item is-active" href="/">Home</a>
            <a class="nav-item" href="/staircase">Staircase</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">{{ title }}</h1>
      </div>
    </div>
  </div>
</header>
